html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  background-color: #001e3c;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
